#thumb-header {
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#page-post {
  margin: 50px 0 120px 0;
  .page {
    font-family: $h_font;

    .post-title {
      h1 {
        font-size: 14px;
        text-align: right;

        a {
          color: #000;

          &:hover {
            color: $theme_color;
          }
        }
        .edit-link {
          font-size: 10px;
          padding-right: 20px;

          a {
            color: $theme_color;
          }
        }
      }
    }

    .post-inner-content {
      font-size: 13px;
      font-weight: 100;
      color: #838383;

      &.about-tpl {
        padding-right: 15px;
      }

      img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
      }

      a {
        color: $theme_color;
      }
    }

    .about-tpl-thumb-pic {
      padding: 19px 0px 0px 10px;

      img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
      }

    }
  }
}

@media screen and (max-width: 991px) {
  #page-post {
    .page {
      .post-inner-content {
        &.about-tpl {
          padding: 0 !important;
        }
      }
    }
  }
}
