/*
 * Comment form style
 */
.required {
  color: $red !important;
}

.comment-notes {
  font-weight: normal;
  font-size: 14px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  display: inline-block;
  width: 32%;

  input {
    max-width: 100%;
  }
}

.comment-form-comment {

  textarea {
    width: 100%;
    display: block;
  }
}

.form-submit {
  .submit {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/*
 * Comment body
 */
#comments {
  margin-top: 60px;

  .comments-title {
    text-align: center;
    vertical-align: middle;

    &:after {
      width: 60px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.1);
      display: inline-block;
      content: "";
      vertical-align: middle;
    }
    &:before {
      width: 60px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.1);
      display: inline-block;
      content: "";
      vertical-align: middle;
    }
  }

  .comment-list {
    display: block;
    list-style: none;
    padding-right: 0;

    .comment {

      .comment-body {
        margin-bottom: 20px;

        .comment-author {
          display: inline-block;
          font-style: normal;

          img {
            float: right;
            border-radius: 50%;
            border: 3px solid rgb(200, 200, 200);
            transition: all 0.2s ease-in-out;

            &:hover {
              border-color: #000000;
            }
          }
          .fn {
            font-style: normal;
            margin-top: 20px;
            margin-right: 10px;
            float: right;
          }
          .says {
            float: right;
            margin-top: 20px;
            margin-right: 5px;
          }
        }
        .comment-meta {
          display: inline-block;
          font-size: 10px;
          float: left;
          margin-top: 25px;
        }
        p {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          margin-top: 5px;
          padding-top: 5px;
          font-size: 14px;
          font-weight: normal;
          color: rgb(170, 170, 170);
        }

        .reply {
          .comment-reply-link {
            font-size: 8px;
            padding: 1px 10px;
            color: rgb(200, 200, 200);
            border: 1px solid rgb(200, 200, 200);

            &:hover {
              border-color: $theme-color;
              color: $theme-color;
            }
          }
        }
      }

      ol {
        list-style: none;
        display: block;
      }

      .comment-respond {

        .comment-reply-title {
          color: rgb(150, 150, 150);

          small {
            a {
              font-size: 8px;
              padding: 1px 10px;
              color: rgb(200, 200, 200);
              border: 1px solid rgb(200, 200, 200);

              &:hover {
                border-color: $theme-color;
                color: $theme-color;
              }
            }
          }
        }
      }
    }
  }
}
