#footer {
  margin-top: 50px;
  padding: 30px 0 40px 0;
  color: $footer_color;
  background-color: $footer_bg_color;

  .bt-footer {
    border-top: $header_footer_border;
  }

  .social-box {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 10px;

    a {
      padding: 3px;
      font-size: 20px;
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }

  .copyright {
    text-align: right;
    padding-top: 20px;
    font-weight: normal;
    color: inherit;
    font-size: 14px;
  }

  .designer {
    text-align: right;
    padding-top: 5px;
    font-weight: normal;
    color: inherit;
    font-size: 12px;

    a {
      direction: ltr;
    }

    span {
      color: $red;
    }
  }
}

@media screen and (max-width: 991px) {
  #footer {
    .social-box,
    .copyright,
    .designer {
      text-align: center !important;
    }
  }
}
