
#header {
  background: $header_bg_color center center no-repeat fixed;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  padding-bottom: 50px;
  color: $header_color;
  border-bottom: $header_footer_border;

  .no-logo {
    height: 70px;
  }
  img.main-head-logo {
    display: block;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    margin: 70px auto 30px auto;
  }

  //round img
  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 7px solid rgba(0, 0, 0, 0.04);

    @include transition(all 0.2s ease-in-out);

    &:hover {
      border: 7px solid rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
  }

  .head-h-bottom {
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    background-color: #666666;
  }

  p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #000000;
  }

  .social-box {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;

    a {
      padding: 5px;
      font-size: 26px;
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }
}
