#home-header {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  min-height: 390px;
  border-bottom: $header_footer_border;

  .bg-image {
    display: block;
    text-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .main-head-logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    //round img
    &.avatar {
      margin-top: 90px;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 7px solid rgba(0, 0, 0, 0.04);

      transition: all ease 0.2s;

      &:hover {
        border: 7px solid rgba(0, 0, 0, 0.6);
        cursor: pointer;
      }
    }
  }
  .main-head-title {
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-weight: normal;
    font-size: 18px;
    color: #000;
  }
}

#header {
  background: $header_bg_color center center no-repeat fixed;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  padding-bottom: 50px;
  color: $header_color;
  border-bottom: $header_footer_border;

  .no-logo {
    height: 70px;
  }
  img.main-head-logo {
    display: block;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    margin: 70px auto 30px auto;
  }

  //round img
  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 7px solid rgba(0, 0, 0, 0.04);

    transition: all ease 0.2s;

    &:hover {
      border: 7px solid rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
  }

  .head-h-bottom {
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    background-color: #666666;
  }

  p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #000000;
  }

  .social-box {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;

    a {
      padding: 5px;
      font-size: 26px;
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }
}
