article#home-post-one {
  padding: 90px 5px;
  background-color: #FFFFFF;

  .post {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 70px;
    margin-top: 10px;
    padding-bottom: 20px;

    .post-title {

      h2 {
        text-align: right;
        font-size: 14px;
        color: #000000;
        margin-bottom: 5px;

        a {
          color: #000;

          &:hover {
            color: $theme-color;
          }
        }
        .edit-link {
          font-size: 10px;
          padding-right: 20px;

          a {
            color: $theme_color;
          }
        }
      }

      .post-info {
        text-align: right;
        font-family: $h_font;
        font-weight: 100;
        font-size: 11px;
        color: #939393;

        span {
          color: #939393;
          padding-left: 3px;
          padding-right: 3px;

          a {
            color: #939393;
          }
        }
      }
    }

    .post-inner-content {
      font-family: $h_font;
      font-weight: 100;
      font-size: 13px;
      color: rgb(131, 131, 131);
      // margin-top: -10px;

      img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
      }

      .more-link {
        color: #000;
        border-bottom: 1px solid #000000;
        opacity: 0.5;
        font-size: 13px;
        padding: 0 1px 0 8px;

        @include transition(all 0.2s ease-in-out);

        &:hover {
          opacity: 1;
        }

        &:before {
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          content: "\e9cb";
          padding-left: 5px;
        }
      }
    }

  }
}

.search-query-title {
  margin-top: 60px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 15px;

  b {
    font-weight: normal;
    color: $theme-color;
  }

  span {
    font-weight: 100;
    padding-right: 6px;
    border-right: 4px solid #000000;
    color: #000000;
  }
}
