
.modal{

  // This is modal bg
  &:before{
    content: "";
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
  }

  &:target{

    // Active animate in modal
    &:before{
      display: block;
    }
    .modal-dialog{
      display: block;
      top: 20%;
    }

  }

}

//------------------Modal Dialog

.modal-dialog{
  background: #fefefe;
  display: none;
  position: fixed;
  top: -100%;
  z-index: 11;
  box-shadow: $box_shadow;
  border-radius: 5px !important;
  overflow: hidden;
  @include transition(0.6s ease-out);
}

.modal-body{
  width: 100%;
  display: block;
  padding: 7px;
  font-size: 12px;
  font-weight: 100;
  @include transition(0.6s ease-out);
}


.modal-header{
  width: 100%;
  min-height: 40px;
  display: block;
  padding: 10px;
  background-color: #f6f7f7;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 1px solid $panel_border_color;
}

.modal-footer{
  width: 100%;
  min-height: 50px;
  display: block;
  padding: 10px;
  background-color: #f6f7f7;
  font-size: 11px;
  font-weight: normal;
  border-top: 1px solid $panel_border_color;
}

.btn-close {
  float: left;
  font-size: 22px;
  padding: 7px;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}
