
.modal{

  // This is modal bg
  &:before{
    content: "";
    display: none;
    background: $modal_bg_color;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
  }

  &:target{

    // Active animate in modal
    &:before{
      display: block;
    }
    .modal-dialog{
      display: block;
      top: 20%;
    }

  }

}





.modal {
  display: none;
}

#box-search {
  width: 80%;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: $h_font;
  font-weight: 100;


  form {
    border-bottom: 1px solid #ffffff;
  }

  h3 {
    color: #ffffff;
    font-weight: inherit;
    text-align: center;
  }

  .search-query {
    width: 85%;
    padding: 20px 5px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 100 !important;
    font-size: 22px;
    line-height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
  }


  #searchsubmit {
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    font-family: inherit;
    border: none;
    box-shadow: none;
  }

}