::selection {
  background-color: $theme-color;
  color: #ffffff;
}

::-moz-selection {
  background-color: $theme-color;
  color: #ffffff;
}
body {
	background-color: #FFF;
	font-family: $h_font;
	overflow-x: hidden;
}