//fonts
$h_font: $vazir;
$p-font: $tahoma;

//colors

$theme-color: $main_color;

$link_color: $lightgray;
$input_text_color: $lightgray;
$divider_color: $theme-color;

//hover color

$hover_color: $theme-color;

$modal_bg_color: rgba(0, 0, 0, .6);

//------------ footer text color-----------

$footer_color: $lightgray;

$footer_bg_color: #FFFFFF;

//------------ header text color-----------
$header_color: $lightgray;

$header_bg_color: #FFFFFF;

$header_footer_border: 1px solid rgba(0, 0, 0, 0.04);

/*----------------------nav menu setting------------*/
//nav menu height
$nav_height: 55px;
// nav menu bg color
$nav_bg_color: rgba(255, 255, 255, 0.5);
//nav menu border and hover color
$nav_border_color: $theme-color;
//nav menu text color
$nav_text_color: #777777;
//text hover color
$nav_text_hover_color: #ffffff;
//submenu a height
$nav_submenu_height: 40px;

//----------------- off canvas -------------
$oc_bg_color: #ffffff;

$oc_color: #cccccc;

$oc_border_color: #E1E1E1;

$oc_box_shadow: 0 0 20px rgba(0, 0, 0, 0.3);

//----------------- pageination -------------

$pi_color: #9E9E9E;

//form setting
$radio_color: $theme-color;
$checkbox_color: $theme-color;
$label_font_size: 13px;
$label_font_color: $lightgray;

// ul and ol settings
$ul_li_font_size: 13px;

$ul_li_font: $h_font;

$ul_list_style: square;

//all object focus border color
$form_focus_color: $theme-color;

//box shadow for all box
$box_shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1);
//box shadow for btn
$btn_shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);

//border for box
$border: 1px solid rgba(0, 0, 0, 0.08);

//panel header and footer border
$panel_border_color: #e2e2e2;



///-------------- Grid setting

//float . RTL or LTR
$float: right;

//columns number
$grid-columns: 12 !default;

//variable for media query screen
$media-sm: 768px;

$media-md: 992px;

$media-lg: 1200px;

// grid gutter width
$grid-gutter-width: 30px;




///-------------------------------tooltip settings
//tooltip's default height
$tooltipHeight: 22px;

//tooltip's default arrow size
$arrowSize: 6px;

//tooltip's default box color
$tooltipColor: #323232;

//tooltip's default text color
$tooltipTextColor: #ecf0f1;

// Positioning
$left-positioning: true !default;
$right-positioning: true !default;
$top-positioning: true !default;
$bottom-positioning: true !default;

// Half Arrows
$half-arrows: false !default;

// Extra Features
$movable: false !default;
$soft-edge: false !default;
$fade-effect: false !default;
$multiline: false !default;

// ---------------------------Diverse Colors
$coloring: false !default;

//-----------------------------table settings
$table_border: #e9e8e8;

$table_radius: 4px;

$table_head_bg_color: #ffffff;

$table_head_color: #363636;

$table_body_bg_color: #fafafa;

$table_body_color: #767676;
