section.my-post {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    background-color: #FFF;

    header {

      h1 {
        text-align: center;
        margin-bottom: 15px;

        a {
          text-align: center;
          color: #000;

          &:hover {
            color: $theme-color;
          }
        }
      }

      div {
        text-align: center;
        font-family: $h_font;
        font-size: 12px;

        span {
          color: $lightgray;
          a {
            color: $lightgray;
          }
        }
      }
    }

    article {
      font-family: $h_font;
      font-weight: 100;
      font-size: 14px;


      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
      }

      .more-link {
        color: #000;
        border-bottom: 1px solid #000000;
        opacity: 0.5;
        padding: 0 1px 0 8px;

        @include transition(all 0.2s ease-in-out);

        &:hover {
          opacity: 1;
        }

        &:before {
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          content: "\e9cb";
          padding-left: 5px;
        }
      }
    }

    footer {

    }

  }