


$lightgray : #656565;

$flamingo: #EF4547;

//colors
$asphalt: #34495e;
$blue: #3498db;
$green: #1abc9c;
$magenta: #2E2349;
$orange: #FD8D17;
$red: #D12B3F;





$colors: (
        'asphalt': $asphalt,
        'blue': $blue,
        'green': $green,
        'magenta': $magenta,
        'orange': $orange,
        'red': $red
);

//font
$font: IRANSans, Tahoma, Arial;
$iransans: IRANSans, Tahoma, Arial;
$tahoma: Tahoma, Arial;


$main_color: $asphalt;