.container {
  @include container;

  @media (min-width: $media-sm) {
    width: (710px + $grid-gutter-width);
  }

  @media (min-width: $media-md) {
    width: (930px + $grid-gutter-width);
  }

  @media (min-width: $media-lg) {
    width: 1130px + $grid-gutter-width;
  }

}

.row {
  @include gen_row;
}

// Extra small grid
//
// Columns and offsets for extra small devices like
// smartphones.

@include make-grid(xs);

// Small grid
//
// Columns and offsets for the small device range, from phones
// to tablets.

@media (min-width: $media-sm) {
  @include make-grid(sm);
}

// Medium grid
//
// Columns and offsets for the desktop device range.

@media (min-width: $media-md) {
  @include make-grid(md);
}

// Large grid
//
// Columns and offsets for the large desktop device range.

@media (min-width: $media-lg) {
  @include make-grid(lg);
}

// Helper Class

.col-center {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.clearfix {
  @include clearfix;
}

@media (max-width: $media-sm) {
  @include create_show(xs);
  @include create_hide(xs);
}

@media (min-width: $media-sm) and (max-width: $media-md) {
  @include create_show(sm);
  @include create_hide(sm);
}

@media (min-width: $media-md) and (max-width: $media-lg) {
  @include create_show(md);
  @include create_hide(md);
}

@media (min-width: $media-lg) {
  @include create_show(lg);
  @include create_hide(lg);
}
