#btn-search {
  a {
    span {
      vertical-align: middle;
    }
  }
}
.my-menu > ul > li:first-child > a {
  padding: 0 0 0 15px;
}

.my-menu {
  width: 100%;
  height: $nav_height;
  text-align: right;
  color: $lightgray;
  margin-top: 23px;

  & > ul.my-menu {
    width: auto;
  }
  & ul {
    z-index: 999;
    margin: 0;
    padding: 0;
    text-align: center !important;
    display: inline-block;
    list-style: none;
    color: inherit;

    &:hover li.active > a {
      background-color: $nav_bg_color;
      color: inherit;
    }

    & li {
      position: relative;
      display: inline-block;
      color: inherit;

      &:hover > ul {
        visibility: visible;
        opacity: 1;
      }

      & a {
        display: block;
        height: $nav_height;
        padding: 0 15px;
        font: 12px/#{$nav_height} $h_font;
        font-weight: 100;
        color: inherit;
        @include transition(background 190ms ease-in, 190ms ease-in);
      }
    }

    & > li.active > a,
    & > li:hover > a,
    & > li.active:hover > a {
      // background-color: $nav_border_color;
      // color: $nav_text_hover_color;

      color: $nav_border_color;
    }

    & li a:active,
    & li.active a:active {
      color: $nav_text_color;
    }

    & ul {
      position: absolute;
      right: 0;
      top: 100%;
      visibility: hidden;
      opacity: 0;
      padding-top: 0px;
      background-color: $nav_border_color;
      text-align: right;
      //      border-bottom: 2px solid $nav_border_color;
      //      border-radius: 0 0 3px 3px;
      @include transition(all 210ms linear 20ms);

      & li.active > a,
      & li:hover > a,
      & li.active:hover > a {
        background-color: $nav_border_color;
        color: $nav_text_hover_color;
      }

      & li {
        cursor: pointer;
        border: 1px solid darken($nav_border_color, 5%);
        border-bottom: none;

        & a {
          width: 140px;
          height: $nav_submenu_height;
          padding-left: 0;
          font-size: 12px;
          color: $nav_text_hover_color;
          line-height: $nav_submenu_height;
          text-transform: none;

          &:active {
            color: $nav_text_color;
          }
        }
        & span {
          position: absolute;
          top: 0;
          left: 10px;
          font-size: 15px;
        }

        &:hover > a {
          background-color: darken($nav_border_color, 4%);
        }
      }

      & ul {
        top: -1px;
        right: 100%;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .my-menu ul {
    display: none;
  }
}

.my-menu ul ul {
  text-align: right !important;
}

.menu-item-has-children > a {

  &:after {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    content: '\002B';
  }
}

.nav-sub {
  background-color: rgba(0, 0, 0, 0) !important;
}
