.nav-links {
  margin: 75px auto 0 auto;
  text-align: center;

  .page-numbers {
    position: relative;
    padding: 4px 10px;
    color: $pi_color;
    margin-left: 2px;
    font-family: $h_font;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 3px solid $pi_color;
    cursor: pointer;
    @include transition(0.2s);

    &:hover {
      color: lighten($pi_color, 10%);
      border-bottom: 3px solid lighten($pi_color, 10%);
    }

    &.current {
      color: lighten($pi_color, 25%);
      border-bottom: 3px solid lighten($pi_color, 25%);
    }

  }
}

.single-nav-links {
  text-align: center;
  margin: 30px auto;

  &:before,
  &:after {
    font-size: 20px;
    display: block;
    text-align: center;
  }
  &:after {
    content: '\2235';
  }
  &:before {
    content: '\2234';
  }

  .text {
    padding: 4px 10px;
    color: $pi_color;
    margin-left: 2px;
  }

  a {
    padding: 0 5px;
    border-radius: 5px;

    &:hover {
      background-color: $theme-color;
      color: #ffffff;
    }

  }
}