
.pagination {
  margin: 75px auto 0 auto;
  text-align: center;

  & > a,
  & > span {
    position: relative;
    padding: 4px 10px;
    color: $pi_color;
    margin-left: 2px;
    font-family: $tahoma;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 3px solid $pi_color;
    cursor: pointer;
    @include transition(0.2s);

    &:hover {
      color: lighten($pi_color, 10%);
      border-bottom: 3px solid lighten($pi_color, 10%);
    }

    &.current {
      color: lighten($pi_color, 14%);
      border-bottom: 3px solid lighten($pi_color, 14%);
      cursor: default;
    }

    &.disabled {
      color: lighten($pi_color, 9%);
      cursor: default;
    }
  }

  &.pagination-sm > a,
  &.pagination-sm > span {
    padding: 2px 8px;
    font-size: 11px;
  }

  &.pagination-lg > a,
  &.pagination-lg > span {
    padding: 8px 10px;
    font-size: 15px;
  }
}